<div class="form-group m-5">
  <p
    [ngStyle]="{
      color: color,
      'font-family': family,
      'font-size': size + 'px'
    }"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit in vel
    excepturi. Perferendis, consectetur cumque, ipsum, tenetur totam facere
    labore sed eius unde minima et repellat nisi quidem omnis in?
  </p>

  <div class="row">
    <label class="col-sm">Text Color</label>
    <label class="col-sm">Font Size</label>
    <label class="col-sm">Font Family</label>
  </div>

  <div class="row">
    <input type="color" class="form-control col-sm m-1" [(ngModel)]="color" />
    <input type="number" class="form-control col-sm m-1" [(ngModel)]="size" />
    <select class="form-control col-sm m-1" [(ngModel)]="family">
      <option selected>Arial</option>
      <option>Georgia</option>
      <option>Emoji</option>
      <option>Fantasy</option>
    </select>
  </div>
</div>
